:root {
  /* light color scheme */
  --background-color: white;
  --text-color: black;
  --link-color: rgb(0, 112, 243);
  --select-background-color: rgb(230, 230, 230);

  /* dark color scheme */
  --dark-background-color: black;
  /* --dark-background-color: rgb(16, 15, 15); */
  --dark-text-color: rgb(209, 213, 219);
  --dark-link-color: rgb(50, 145, 255);
  --dark-select-background-color: rgb(50, 50, 50);

  /* colors */
  --primary-color: orange;
}

html.light > body {
  background-color: var(--background-color);
  color: var(--text-color);

  & a,
  & .prose a {
    color: var(--link-color);
  }

  & select {
    background-color: var(--select-background-color);
    color: var(--text-color);
  }
}

html.dark > body {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);

  & a,
  & .prose a {
    color: var(--dark-link-color);
  }

  & select {
    background-color: var(--dark-select-background-color);
    color: var(--dark-text-color);
  }
}

html > body {
  font-family: system-ui;

  & a,
  & .prose a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  & select {
    border: none;
    border-radius: 0.25rem;
  }

  & > #__nuxt {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
  }
}
