:root {
  --color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
  }
}

html {
  color-scheme: var(--color-scheme);
}

html > body #__nuxt {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@font-face {
  font-family: 'Golos Text';
  src: url('@/assets/fonts/Golos_Text/GolosText-VariableFont_wght.ttf')
    format(truetype) tech(variations);
}
